:root{
    --main-primary: rgb(0, 119, 255);
    --main-primary-light: rgb(143, 217, 245);
    --main-secondary: white;
    --main-tertiary: rgb(1, 150, 125);
    --text-primary: rgb(26, 26, 26);
    --text-primary-light: rgb(35, 35, 35);
}